.img-research {
	margin-top: 20px;
	margin-bottom: 20px;
}

#logo-front{
	width: 600px;
	margin-bottom: 30px;
	max-width: 80%;
}

#maintext-front{
	font-size: 2.7em !important;
}

#protein-front{
	padding-top: 18%;
}

.social-icons a{
	color: white;
}

hr {
	border-top: 1px solid #8c8b8b; 
	max-width: 100% !important;
}

.publication-anchors{
	font-weight: 800;
	padding-top: 80px; 
	margin-top: -80px;
}