
<section id="contact" class="bg-primary">
    <div class="container">
        <h3>Connect with the BioFoundry</h3>
        <br>
        <ul class="list-inline social-icons">
            {% for network in site.social %}
            <li class="social-{{ network.title }}">
                <a href="{{ network.url }}" class="btn-social"><i class="fa fa-2x fa-fw fa-{{ network.title }}"></i></a>
            </li>
        {% endfor %}
        </ul>
        <br>
        <p><i class="fa fa-fw fa-envelope"></i>&nbsp;vikramaditya.yadav@ubc.ca</a>
</p>
    </div>
</section>
<footer>
    <div class="container text-left">
        <p><b>The BioFoundry</b>: Research Group of Prof. Vikramaditya G. Yadav.</p>
        <br>
        <p>
            Department of Chemical &amp; Biological Engineering<br>
            634-2360 East Mall<br>
            Vancouver, BC Canada V6T 1Z3<br>
            Tel 604 827 3170<br>
        </p>
        <hr>
        <p><i>Visit our website at <a href="http://www.biofoundry.ca">www.biofoundry.ca</a></i></p>
        <b>The BioFoundry Team &copy; 2017-2018, All Rights Reserved.</b>
        
    </div>
</footer>
