
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h3>Connect with the BioFoundry</h3>
        <br>
        <ul class="list-inline list-social">
            {% for network in site.social %}
            <li class="social-{{ network.title }}">
                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
            </li>
        {% endfor %}
        </ul>
    </div>
</section>
<footer>
    <div class="container text-left">
        <p><b>The BioFoundry</b>: Research Group of Prof. Vikramaditya G. Yadav. All Rights Reserved.</p>
        <br>
        <p>
            Department of Chemical &amp; Biological Engineering<br>
            634-2360 East Mall<br>
            Vancouver, BC Canada V6T 1Z3<br>
            Tel 604 827 3170<br>
        </p>
        <hr>
        
    </div>
</footer>
