<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1> <b>The BioFoundry</b> <h1>
                        
                        <h1>{{page.header_text}}</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
 <!--                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <img src="/img/demo-screen-1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</header>
