<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Members</h2>
                <p>Innovation does not believe in academic borders. Neither do we! We use insights and methodologies from a variety of scientific and technological domains to meet our objectives.</p>
            </div>
        </div>
    </div>


<div class="container-locked">
        <div class="row ">

        {% assign members = site.members | sort: "weight" %}
        {% for member in members %}  

            <div class="col-lg-2 col-sm-6 col-xs-12 modal-member" style="padding:0px;" data-toggle="modal" data-target="#Research1">
                
                    <img src="/img/vikram.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               {{member.title}}
                            </div>
                           <!--  <div class="project-name">
                                {{member.description}}
                            </div> -->
                        </div>
                    </div>
                
            </div>

            <!-- Modal -->
<div id="Research1" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">font on bottom</h4>
      </div>
      <div class="modal-body">
      <img src="/img/horizontal-photo.jpg" style= "max-width:800px;" >
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% endfor %}


<div class="col-lg-2 col-sm-6 col-xs-12 modal-member" style="padding:0px;" data-toggle="modal" data-target="#Research1">
                
                    <img src="/img/members/ito.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Ngai To Lo
                            </div>
<!--                             <div class="project-name">
                                {{member.description}}
                            </div> -->
                        </div>
                    </div>
                
            </div>

        </div>
    </div>


</section>