<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript
<script src="js/bootstrap.min.js"></script> -->

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<!-- <script src="/js/creative.js"></script> -->

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="/js/new-age.min.js"></script>

{% if site.google_analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
          _gaq.push(['_trackPageview']);
  (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}


<script>
//   $(document).ready(function(){
//     $('#myModal').modal({backdrop: true});  

// });
  $("#myBtn").click(function(){
        $("#myModal").modal({backdrop: false});
    });

</script>

<script type="text/javascript">
    var para = document.getElementById('responsive');
    var responsive_para = document.getElementById('responsive-para');
    var related_link_para = document.getElementById('related_links');
    
    function loadData (desc,image,rel_link1,rel_linktxt1,rel_link2,rel_linktxt2  ){
        if (image === undefined){
          para.innerHTML = '';
          responsive_para.innerHTML = desc;
        }
        else{        
          var image_elem = document.createElement("img");
          image_elem.setAttribute("class","img-responsive");
          image_elem.setAttribute("id","research-id");
          image_elem.setAttribute("src",image);
          
          para.innerHTML = '';
          para.appendChild(image_elem);

          responsive_para.innerHTML = desc;
        }
        
        if(rel_link1===undefined){
                while(related_link_para.firstChild){
                related_link_para.removeChild(related_link_para.firstChild);
            }
        } else{
            related_link_para.innerHTML="Related Links: <br><br>"
            var link_elem = document.createElement("a");
            link_elem.setAttribute("href",rel_link1);
            link_elem.innerHTML = rel_linktxt1;
            related_link_para.appendChild(link_elem);
        }
        if(rel_link2===undefined){
        } else{
            var linebreak = document.createElement("p");
            related_link_para.appendChild(linebreak);
            var link_elem2 = document.createElement("a");
            link_elem2.setAttribute("href",rel_link2);
            link_elem2.innerHTML = rel_linktxt2;
            related_link_para.appendChild(link_elem2);
        }


    }
</script>