<section id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Teaching</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 text-left">
                <h2><b>CHBE 455</b></h2>
                <h3>Kinetics and Reactor Design</h3>
                <p>Kinetics of homogeneous chemical and biological reactions, isothermal ideal reactor design, analysis of non-ideal reactors using residence time distribution and mixing models.</p>
            </div>
            <div class="col-lg-4 col-md-12 text-left">
                <h3>Lectures</h3>
                <h3>Office Hours</h3>
                <h3>Resources</h3>
            </div>            
        </div>
    </div>
</section>
