<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  <!-- {% include call-to-action.html %} -->
  {% include credo.html %}
  <section id="portfolio" class="download bg-primary text-center no-padding ">
  {% include research.html %}
  {% include outreach.html %}
  </section>
  {% include teaching.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

<script type="text/javascript">
    
    $(document).ready(function(){
     
     $("body").on("click","#myBtn",function(){
             
          $("#myModal").modal("show");
       
          //appending modal background inside the blue div
          $('.modal-backdrop').appendTo('.blue');   
     
          //remove the padding right and modal-open class from the body tag which bootstrap adds when a modal is shown
          $('body').removeClass("modal-open")
          $('body').css("padding-right","");     
          console.log("his");
      });

 
});
</script>
</html>
